:host {
    display: flex;
    justify-content: center;
    margin: 5em 0;
  }

.mat-form-field {
    width: 100%;
    min-width: 25em;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
