<mat-toolbar fxFlex color="primary">
  <div fxFlex fxLayout="row">
    <button id="toolbar-btn-toggle"
      mat-icon-button 
      (click)="toggleSidebar.emit()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
    <div *ngIf="user">
      <span class="app-toolbar-user-name"
        fxShow.xs="false"
      >{{ user.name }}</span>
    </div>
    <button id="toolbar-btn-logout"
      mat-icon-button
      (click)="logout.emit()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>