table {
    width: 100%;
}

.app-table-row-mobile {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
}

.app-table-cell-mobile {
    display: block;
}

.app-table-mobile-label {
    width: 110px;
    display: inline-block;
    font-weight: bold;
}

.app-none {
    display: none;
}
