
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"
      [ngClass]="{'app-table-cell-mobile': isMobile}"
    >
      <span class="app-table-mobile-label"
        [ngClass]="{'app-none': !isMobile}"
      >Name:</span>
      {{element.name}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let element"
      [ngClass]="{'app-table-cell-mobile': isMobile}"
    >
      <span class="app-table-mobile-label"
        [ngClass]="{'app-none': !isMobile}"
      >Symbol:</span>
      {{element.symbol}}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description </mat-header-cell>
    <mat-cell *matCellDef="let element"
      [ngClass]="{'app-table-cell-mobile': isMobile}"
    >
      <span class="app-table-mobile-label"
        [ngClass]="{'app-none': !isMobile}"
      >Description:</span>
      {{element.description}}
    </mat-cell>
  </ng-container>
    
  <mat-header-row *matHeaderRowDef="displayedColumns"
    [ngClass]="{'app-none': isMobile}"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'app-table-row-mobile': isMobile}"
  ></mat-row>
</mat-table>

<mat-card *ngIf="isLoading"
  class="app-table-spinner"
>
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>