<mat-sidenav-container fxLayout="column" fxFlexFill>
    <mat-sidenav fxLayout="column"
      mode="side"
      [opened]="true"
    >
      <mat-nav-list class="app-nav-list"
        [ngClass]="(isExpanded === true) ? 'app-nav-list-expanded ' : 'app-nav-list-collapsed'"
      >
        <a mat-list-item [routerLink]="item.url"
        *ngFor="let item of menuItems">
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          <p matLine>{{ item.title }}</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav"
      [ngClass]="(isExpanded === true) ? 'app-sidenav-content-expanded' : 'app-sidenav-content-collapsed'"
    >
      <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>