.mat-sidenav-container{
  min-height: 93vh !important;
  height: 93vh !important;
}

.app-sidenav-content-compressed {
  margin-left: 65px !important;
}

.app-sidenav-content-expanded {
  margin-left: 165px !important;
}
