.tile-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card .mat-divider-horizontal {
  position: relative;
}

.mat-expansion-panel-header {
  padding: 0;
  padding-right: 0.5em;
}

.mat-expansion-panel {
  box-shadow: none;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .cdk-overlay-backdrop {
  pointer-events: none;
}

.mat-card-subtitle, .mat-card-actions {
  margin-bottom: 0;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right:08px;
  padding: 8px 0;
}
