/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    margin: 0;
    font-family:
    Roboto,
    "Helvetica Neue",
    sans-serif;
}

.mat-bottom-sheet-container {
  padding: 0 !important;
}

// Custom start

.app-basic-container {
    padding: 1%;
}

.app-spinner-loading-shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Custom end

// Material start

.mat-table {
  mat-row, mat-header-row, mat-footer-row {
    padding-left: 24px;
    padding-right: 24px;
  }
  
  mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
    padding-left: 0;
  }
  
  mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
    padding-right: 0;
  }
}

mat-expansion-panel {
  mat-expansion-panel-header {
    height: 48px; // height may be different for you
  }
  .mat-expansion-panel-content {
    height: 0;
  }
  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }
    .mat-expansion-panel-content {
      height: auto;
    }
  }
}

// Material end
